<style>
  @media (max-width: 1024px) {
    .useful {
      padding-right: 20px;
    }

    .social {
      padding-left: 20px;
    }
  }

  @media (max-width: 740px) {
    footer .slogan {
      font-size: 25px;
    }
  }
</style>

<footer class="relative bg-[#1A191B] pt-8 pb-6 text-white">
  <div class="container mx-auto px-4">
    <div class="flex flex-wrap text-left lg:text-left">
      <div class="w-full lg:w-6/12 px-4 mb-12">
        <h4 class="slogan text-3xl fonat-semibold text-blueGray-700">
          "ReImagineEngineeringWithAI"
        </h4>
        <h5 class="text-lg mt-3 mb-2 text-blueGray-600">
          Government College of Engineering, Jalgaon
        </h5>

        <div id="contactUs" class="mt-4 text-blueGray-600">
          <p class="font-semibold text-blueGray-700">
            For any queries, feel free to contact:
          </p>
          <p>
            <strong>Convenor :</strong> Tejas Lahase -
            <a href="tel:+919890124137" class="text-blueGray-800 hover:underline">+91 9890124137</a>
          </p>
          <p>
            <strong>Co-Convenor :</strong> Devank Kadam -
            <a href="tel:+919011719707" class="text-blueGray-800 hover:underline">+91 9011719707</a>
          </p>
          <p>
            <strong>Co-Convenor :</strong> Abhishek Deshmukh -
            <a href="tel:+917558655654" class="text-blueGray-800 hover:underline">+91 7558655654</a>
          </p>
          <p>
            <strong>Co-Convenor :</strong> Saksham Meshram -
            <a href="tel:+919011437886" class="text-blueGray-800 hover:underline">+91 9011437886</a>
          </p>
          <p>
            <strong>Registration Coordinator:</strong> Rishikesh Ghinmine -
            <a href="tel:+919730997704" class="text-blueGray-800 hover:underline">+91 9730997704</a>
          </p>
        </div>
      </div>
      <div class="w-full lg:w-6/12 px-4">
        <div class="flex flex-wrap items-top mb-6 justify-between">
          <div class="useful lg:w-4/12">
            <span class="block uppercase text-blueGray-500 text-sm font-semibold mb-2">Useful Links</span>
            <ul class="list-unstyled">
              <li>
                <a class="text-blueGray-600 hover:text-blueGray-800 font-semibold block pb-2 text-sm" href="/">Home</a>
              </li>
              <li>
                <a class="text-blueGray-600 hover:text-blueGray-800 font-semibold block pb-2 text-sm" href="/">About
                  Us</a>
              </li>
              <li>
                <a class="text-blueGray-600 hover:text-blueGray-800 font-semibold block pb-2 text-sm"
                  href="/#events-section">Events</a>
              </li>
              <li>
                <a class="text-blueGray-600 hover:text-blueGray-800 font-semibold block pb-2 text-sm" href="#map">
                  Location</a>
              </li>
            </ul>
          </div>
          <div class="social lg:w-4/12">
            <span class="block uppercase text-blueGray-500 text-sm font-semibold mb-2">Social Media</span>
            <ul class="list-unstyled">
              <li>
                <a class="text-blueGray-600 hover:text-blueGray-800 font-semibold block pb-2 text-sm flex items-center"
                  href="https://instagram.com/src_gcoej" target="_blank">
                  <img src="images/instaLogo.jpeg" alt="Instagram" class="w-5 h-5 mr-2" />
                  SRC GCOEJ
                </a>
              </li>
              <li>
                <a class="text-blueGray-600 hover:text-blueGray-800 font-semibold block pb-2 text-sm flex items-center"
                  href="https://www.linkedin.com/company/gcoej-media/" target="_blank">
                  <img src="images/linkedIn.jpeg" alt="Instagram" class="w-5 h-5 mr-2" />
                  GCOEJ Media
                </a>
              </li>
              <li>
                <a class="text-blueGray-600 hover:text-blueGray-800 font-semibold block pb-2 text-sm flex items-center"
                  href="https://sites.google.com/gcoej.ac.in/gcoejmedia/home" target="_blank">
                  <img src="images/WebsiteLogo1.png" alt="Instagram" class="w-5 h-5 mr-2" />
                  GCOEJ Media
                </a>
              </li>
              <li>
                <a class="text-blueGray-600 hover:text-blueGray-800 font-semibold block pb-2 text-sm flex items-center"
                  href="https://www.instagram.com/gcoej_shutterbugs_?igsh=NGllNjhydzloNTR5" target="_blank">
                  <img src="images/instaLogo.jpeg" alt="Instagram" class="w-5 h-5 mr-2" />
                  GCOEJ Shutterbugs
                </a>
              </li>
              <li>
                <a class="text-blueGray-600 hover:text-blueGray-800 font-semibold block pb-2 text-sm"
                  href="#contactUs">Contact Us</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <hr class="my-6 border-blueGray-300" />
    <div class="flex flex-wrap items-center md:justify-between justify-center">
      <div class="w-full md:w-4/12 px-4 mx-auto text-center">
        <div class="text-sm text-blueGray-500 font-semibold py-1">
          Copyright © <span id="get-current-year">2025 | </span> Developed by
          PraViShuDuRa ♥️
        </div>
      </div>
    </div>
  </div>
</footer>