<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Payment</title>
    <link rel="stylesheet" href="css/style.css">
    <script src="https://cdn.tailwindcss.com"></script>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Noto+Serif+Hentaigana:wght@200..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
</head>
<style>
    body {
        font-family: "Roboto Condensed", serif;

    }
</style>

<body>
    <h2>Payment</h2>
    <form action="/process-payment" method="POST">
        <input type="text" name="card" placeholder="Card Number">
        <input type="text" name="expiry" placeholder="Expiry Date">
        <button type="submit">Pay Now</button>
    </form>
</body>

</html>